body {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
  background: #f9e933;
}

.conteiner {
  max-width: 855px;
  margin: auto;
}

.page-header, .main, .page-footer {
  min-width: 855px;
  padding: 0 10px;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.page-header {
  background: #fff;
}

.main {
  background: #fff;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.logo-header {
  font-style: italic;
}

.logo-header,
.page-footer__left-colum,
.main__left-colum {
  width: 570px;
  float: left;
}

.nav-header,
.page-footer__right-colum,
.main__right-colum {
  width: 285px;
  float: right;
}

.nav-header__item {
  display: inline-block;
}

.main__left-colum {
  width: 550px;
  padding-left: 20px;
}

.main-list {
  padding-left: 17px;
  list-style: circle;
}

.sitemap__list,
.nav-header__list {
  list-style: none;
  padding: 0;
}

.contact__text {
  margin: 0;
}

.sitemap__item {
  display: inline-block;
  width: 49%;
}

/*-----comment.html css-------*/

.logo-header a {
  text-decoration: none;
  color: #DCDCDC;
}

.main__heading h2 {
  margin-bottom: 0;
}

.main__heading p {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 13px;
}

.comment {
  overflow: auto;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
}

.comment__input {
  float: left;
  width: 35%;
}

.comment__comments {
  float: left;
  width: 65%;
}

.main__info {
  width: 50%;
  font-style: italic;
}

.comment__input-text {
  width: 75%;
}

.comment__input-text:hover {
  border: 2px solid #aaa;
}

.comment__input-text:focus {
  outline: 2px solid red;
}

.comment__comments p {
  border-radius: 0 6px 6px 0;
}

.comment__comments p:nth-child(even) {
 background: lavender;
}
.comment__comments p:nth-child(odd) {
 background: gainsboro;
}

/*-------tech.html css------------*/

.quest {
  margin-top: 20px;
  margin-bottom: 20px;
}

.quest__tab {
  display: inline-block;
  border-radius: 5px 5px 0 0;
  width: 100px;
  margin-right: 2px;
  text-align: center;
  background: #ddd;
  padding: 5px;
  padding-bottom: 10px;
}

.quest__tab_active {
  background: #eee;
}

.quest__content {
  background: #eee;
  border-radius: 0 5px 5px 5px;
}

.quest__list {
  margin-top: -2px;;
  padding-top: 5px;
  padding-bottom: 5px;
}
