body {
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
  background: #f9e933;
}

.conteiner {
  max-width: 855px;
  margin: auto;
}

.page-header, .main, .page-footer {
  min-width: 855px;
  padding: 0 10px;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.page-header {
  background: #fff;
}

.main {
  background: #fff;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.logo-header {
  font-style: italic;
}

.logo-header,
.page-footer__left-colum,
.main__left-colum {
  width: 570px;
  float: left;
}

.nav-header,
.page-footer__right-colum,
.main__right-colum {
  width: 285px;
  float: right;
}

.nav-header__item {
  display: inline-block;
}

.main__left-colum {
  width: 550px;
  padding-left: 20px;
}

.main-list {
  padding-left: 17px;
  list-style: circle;
}

.sitemap__list,
.nav-header__list {
  list-style: none;
  padding: 0;
}

.contact__text {
  margin: 0;
}

.sitemap__item {
  display: inline-block;
  width: 49%;
}
